
# Binary types
*.npy
*.pdf
*.png

# Output
out/*
slurm/*
figure*/*


# compiled python module
*.pyc

# pyenv file
.python-version

# slurm execution
*.sbatch
launch_all.sh

# Outdated things (that I should really get rid of)
old_plots/*
old_scripts/*
